In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [130]:
df = pd.read_csv('User_Data.csv')

In [131]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

#### Extracting Independent and Dependent Variable

In [132]:
x = df.iloc[:,[2,3]]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [133]:
y = df.iloc[:,4]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

#### Splitting the dataset into training and test set

In [134]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x,y,test_size=0.25, random_state=0)

#### Feature Scaling

In [135]:
from sklearn.preprocessing import StandardScaler
stX = StandardScaler()
Xtrain = stX.fit_transform(Xtrain)
Xtest = stX.fit_transform(Xtest)

#### Fitting Decision Tree classifier

In [142]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', random_state=5)
classifier.fit(Xtrain,Ytrain)

DecisionTreeClassifier(criterion='entropy', random_state=5)

#### Predicting the result

In [138]:
Ypred = classifier.predict(Xtest)
Ypred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

#### Creation  of Confusion matrix

In [139]:
from sklearn.metrics import confusion_matrix
confm = confusion_matrix(Ytest,Ypred)
confm

array([[61,  7],
       [ 2, 30]], dtype=int64)

#### Accuracy Score

In [140]:
print("Decision Tree Accuracy Score for Train dataset: ",classifier.score(Xtrain,Ytrain)*100,"%")

Decision Tree Accuracy Score for Train dataset:  100.0 %

In [141]:
print("Decision Tree Accuracy Score for Test dataset: ",classifier.score(Xtest,Ytest)*100,"%")

Decision Tree Accuracy Score for Test dataset:  91.0 %